<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351857652407-e1t4nn5veo5p588tjs4beofk2kr0cg7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351857652407-e1t4nn5veo5p588tjs4beofk2kr0cg7f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>351857652407-8htj7hb37drruj3fcpaainko61o18fkl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ_aPyy4Ps69VR6Q9xNdysGFuV4J7ND5c</string>
	<key>GCM_SENDER_ID</key>
	<string>351857652407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.socialcoin</string>
	<key>PROJECT_ID</key>
	<string>social-coin-c2663</string>
	<key>STORAGE_BUCKET</key>
	<string>social-coin-c2663.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351857652407:ios:452e63488a1e8cf7729332</string>
</dict>
</plist>